<mat-card>
    <mat-card-title>Excluir vendedor</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="vendedor.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf" [value]="vendedor.cpf" name="cpf" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rg" [value]="vendedor.rg" name="rg" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Celular" [value]="vendedor.celular" name="celular" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [value]="vendedor.telefone" name="telefone" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cep" [value]="vendedor.cep" name="cep" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua" [value]="vendedor.logradouro" name="rua" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nº" [value]="vendedor.numeroCasa" name="numeroCasa" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro" [value]="vendedor.bairro" name="bairro" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" [value]="vendedor.localidade" name="cidade" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Uf" [value]="vendedor.uf" name="uf" disabled>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="deleteVendedor()" color="warn">
    Deletar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>