<mat-card class="card">
    <mat-card-title>Cadastrar cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.nome" name="nome" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf" [(ngModel)]="cliente.cpf" name="cpf" mask="000.000.000-00" [dropSpecialCharacters]="false" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rg" [(ngModel)]="cliente.rg" name="rg" mask="0000000000" [dropSpecialCharacters]="false" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Celular" [(ngModel)]="cliente.celular" name="celular" mask="(00) 00000-0000" [dropSpecialCharacters]="false" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="cliente.telefone" name="telefone" mask="(00) 0000-0000" [dropSpecialCharacters]="false">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cep" [(ngModel)]="cliente.cep" #cep (blur)="pesquisacep(cep.value);" name="cep" mask="00000-000" [dropSpecialCharacters]="false">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua" id="logradouro" [(ngModel)]="cliente.logradouro" name="rua" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nº" [(ngModel)]="cliente.numeroCasa" name="numeroCasa" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro" id="bairro" [(ngModel)]="cliente.bairro" name="bairro" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" id="localidade" [(ngModel)]="cliente.localidade" name="cidade">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Uf" id="uf" [(ngModel)]="cliente.uf" name="uf" mask="SS" [dropSpecialCharacters]="false">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data para pagamento" [(ngModel)]="cliente.dataCobranca" name="dataCobranca" mask="00/00/0000" [dropSpecialCharacters]="false" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Total" [(ngModel)]="cliente.total" name="total" mask="0*.00" [dropSpecialCharacters]="false" required>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="createCliente()" color="primary">
    Salvar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>