<mat-card class="card">
    <mat-card-title>Excluir cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="cliente.nome" name="nome" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf" [value]="cliente.cpf" name="cpf" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rg" [value]="cliente.rg" name="rg" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Celular" [value]="cliente.celular" name="celular" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [value]="cliente.telefone" name="telefone" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cep" [value]="cliente.cep" name="cep" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua" [value]="cliente.logradouro" name="rua" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Nº" [value]="cliente.numeroCasa" name="numeroCasa" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro" [value]="cliente.bairro" name="bairro" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade" [value]="cliente.localidade" name="cidade" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Uf" [value]="cliente.uf" name="uf" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data para pagamento" [value]="cliente.dataCobranca" name="dataCobranca" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Restante" [value]="cliente.restante" name="restante" disabled>
        </mat-form-field>
    </form>
</mat-card>

<button mat-raised-button (click)="deleteCliente()" color="warn">
    Deletar
</button>

<button mat-raised-button (click)="cancel()">
    Cancelar
</button>